{% extends 'layout.njk' %}

{% block content %}
  <div class="govuk-body">
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    <form method="POST" action="/action-inputs">
      {{ govukInput(model.model) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>
    {% if model.parcelModel %}
    {{ govukTable(model.parcelModel) }}
    {% endif %}

  </div>
{% endblock %}
