{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Agreements calculator</h1>

    <form method="get" action="/parcels">
      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true,
        text: "Apply for a scheme"
      }) }}
    </form>
      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">
        This service exists to provide information on eligibility and amounts
        of available payments on land parcels
      </p>

      <p class="govuk-body">
        You'll need to know which parcel of land you're applying for, what 
        actions you want to carry out on that land and other information
        about the land (such as the perimeter)
      </p>
    </div>
  </div>
{% endblock %}
