{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Agreements calculator</h1>
      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check if you’re eligible to assign an action to a land parcel</li>
        <li>check the value of a payment for performing that action</li>
      </ul>

      <p class="govuk-body">Checking takes around 5 minutes.</p>
    <form method="get" action="/parcels">
      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true,
        text: "Start now"
      }) }}
    </form>
      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">
        You’ll need to know the ID of the land parcel you wish to enquire about, and the actions you want to do on that land parcel.
      </p>

      <p class="govuk-body">
        Depending on the action you select, you may be asked for further information (such as a land parcels’ perimeter).
      </p>
    </div>
  </div>
{% endblock %}
