{% extends 'layout.njk' %}

{% block content %}
  <div class="govuk-body">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    <h1 class="govuk-heading-xl">
      Select a land parcel
    </h1>

    <span class="govuk-hint">
     Select a land parcel from your registered land holdings.
    </span>
{# 
    {{ govukInput({
      label: {
        text: "Search"
      },
      classes: "govuk-input--width-10",
      id: "parcel-ref-filter",
      name: "parcel-ref-filter"
    }) }} #}

    <form method="POST" action="/parcels">

      {{ govukRadios(model) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="{{ assetPath }}/javascript/parcels.js?v=1"></script>
  <script type="text/javascript">new ParcelsPage(document).init()</script>
{% endblock %}
